<!-- HTML -->
<body>
<div class="container">
  <form [formGroup]="certificateForm" (ngSubmit)="createCertificate()">
    <h1>Root Certificate</h1>
    <div class="form-group">
      <label for="subjectCN">Common Name</label>
      <input type="text" id="subjectCN" formControlName="subjectCN" required>
      <div *ngIf="certificateForm?.get('subjectCN')?.invalid && (certificateForm?.get('subjectCN')?.dirty || certificateForm?.get('subjectCN')?.touched)" class="invalid-feedback">
        Common Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="subjectO">Organization</label>
      <input style="background-color: #c0c3c4" type="text" id="subjectO" formControlName="subjectO" required [readonly]="true">
    </div>
    <div class="form-group">
      <label for="subjectOU">Organizational Unit</label>
      <input style="background-color: #c0c3c4" type="text" id="subjectOU" formControlName="subjectOU" required [readonly]="true">
    </div>
    <div class="form-group">
      <label for="subjectCountry">Country</label>
      <input style="background-color: #c0c3c4" type="text" id="subjectCountry" formControlName="subjectCountry" required maxlength="2" [readonly]="true">
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" formControlName="startDate" required>
      <div *ngIf="certificateForm.get('startDate')?.invalid && (certificateForm.get('startDate')?.dirty || certificateForm.get('startDate')?.touched)" class="invalid-feedback">
        Start Date is required
      </div>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" formControlName="endDate" required>
      <div *ngIf="certificateForm.get('endDate')?.invalid && (certificateForm.get('endDate')?.dirty || certificateForm.get('endDate')?.touched)" class="invalid-feedback">
        End Date is required
      </div>
    </div>
    <div id="button-submit">
      <button type="submit" [disabled]="certificateForm.invalid">Submit</button>
    </div>
  </form>
</div>
</body>
